<div class="chart-container">
    <div class="line-chart-container chart-design">
        <div class="header">
            <span class="chart-label">Finances</span>
            <div>
                <span class="income"><span class="income-color"></span>Income</span>
                <span class="outcome"><span class="outcome-color"></span>Outcome</span>
                <span class="recent-label">Monthly
                    <img src="./assets/img/arr-dwn.png" class="arrow-icon" alt="more option">
                </span>
            </div>
        </div>
        <div class="line-chart">
            <canvas id="lineChart"></canvas>
        </div>
    </div>
    <div class="pie-chart-container chart-design">
        <div class="header">
            <span class="chart-label">All Expenses</span>
            <span class="recent-label">Monthly
                <img src="./assets/img/arr-dwn.png" class="arrow-icon" alt="more option">
            </span>
        </div>
        <div class="pie-chart">
            <canvas id="pieChart"></canvas>
        </div>
        <div class="currency-section">
            <div class="currency-items">
                <span>Daily</span>
                <span class="values">$573.12</span>
            </div>
            <div class="currency-items">
                <span>Weekly</span>
                <span class="values">$4.791</span>
            </div>
            <div class="currency-items">
                <span>Monthly</span>
                <span class="values">$250.67</span>
            </div>
        </div>
    </div>
</div>