<div class="cards-container">
    <div>
        <span class="card-label">My Cards</span>
        <img src="./assets/img/dots.png" class="dot" alt="more options" />
    </div>
    <img src="./assets/img/credit-card.png" class="credit-card" alt="credit card image" />
    <div class="balance-container">
        <div class="balance-section">
            <span>Your Balance</span>
            <div class="balance-values">
                <span class="balance">$4369.34</span>
                <div class="percent">
                    <span class="increment">↑ 9.14%</span>
                    <span class="decrement">↓ 8.39%</span>
                </div>
            </div>
        </div>
        <hr class="horizontal-bar">
        <div class="currency-section">
            <div class="currency-items">
                <span>Currency</span>
                <span class="values">USD / US Dollar</span>
            </div>
            <div class="currency-items">
                <span>Status</span>
                <span class="values">Active</span>
            </div>
        </div>
    </div>
    <button mat-flat-button class="new-card-btn">+ Add New Card</button>
</div>