@import '../../../styles.scss';

.widget-container {
    min-height: 22vh;
    min-width: 11vw;
    padding: 25px;
    margin-right: 30px;
    border-radius: $container-radius;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $white;
    border: 1px solid grey;

    &:hover {
        background: rgb(79,108,209);
        background: linear-gradient(145deg, rgba(79,108,209,1) 0%, rgba(38,67,167,1) 100%);
        cursor: pointer;
        box-shadow: rgba(33, 35, 38, 0.9) 0px 10px 10px -10px;

        .dot {
            filter: invert(100%);
        }
        .widget-label {
            color: $bg-color;
        }
        .widget-value {
            color: $white
        }
    }

    .img-container {
        display: flex;
        justify-content: space-between;

        .wallet {
            height: 30px;
            padding: 10px;
            border-radius: 100%;
            background-color: $light-blue;
        }
        .dot {
            height: 20px;
            opacity: 0.6;
        }
    }
    .widget-label {
        font-size: 1.2rem;
        color: $grey;
    }
    .widget-value {
        font-size: 2rem;
        font-weight: bold;
        color: $black
    }
}