

.main-container {
    display: flex;
    margin: 20px 30px;
    justify-content: space-between;

    .left-container {
        flex: 1 1 80vw;

        .widget-list {
            display: flex;
            height: 100%;
            width: 100%;
        }
    }

    .right-container {
        flex: 1 1 20vw;

    }
}